<div id="sub-nav">
  <h1>{{subNavTitle}}</h1>
  <p>{{subNavDescription}}</p>
  <p>{{subNavInstruction}}</p>
  <ul>
    <ng-container *ngIf="routeString == 'dashboard'" >
    <a *ngFor="let dash of dashboards" [routerLink]="['/dashboard', dash.DashViewOrder]">
      <li>{{dash.DashName}}</li>
    </a>
    </ng-container>
    <a *ngFor="let submodule of submodules" [routerLink]=submodule.RouterLink><li>{{submodule.SubModuleTitle}}</li></a>
  </ul>
  <div class="user">
    <img src="../assets/users/liane.png" />
    <p>Twit-Twoo Liane!</p>
    <p>Zoo-Keeper</p>
  </div>
</div>
