.modal {
    background: rgba(0, 171, 46, 0.3);   
}

.modal-dialog {
    margin-top: 250px;
    max-width: 60%;
    border-radius: 0;
}

.modal-content {
    background: #2d353d;
    color: #FFFFFF;
    border-radius: 0;
    border: 0;
}

.modal-header {
    color: #00cf9b;
    font-weight: bold;
    border-bottom: 0;
}

.modal-header h2 {
    color: #00cf9b;
}

.modal-footer {
    border-top: 0;
}