<div id="message-list">
    <button type="button" (click)="newMessage.show()">New Message</button>
    <div *ngFor="let conversation of conversations" class="message-header" (ngClass)="selectedClass" (click)="changeSelectedConversation(conversation.FromUser)">
        <img [src]="conversation.avatar" class="user-small" />
        <p class="message-header-user">{{conversation.FromUser}}</p>
        <p class="message-header-body">{{conversation.LastMessageBody}}</p>
        <p class="message-header-time">{{conversation.LastMessageTime}}</p>
    </div>
</div>

<div id="message">
    <div id="message-body-header">
        <img [src]="currentThreadAvatar" id="user-large" />
        <p class="user">{{currentThreadSender}}</p>
    </div>
    <div id="message-body">
        <div *ngFor="let msg of currentThread">
            <div [ngClass]="msg.msgStyle">
                <div [ngClass]="msg.userStyle">
                    <img [src]="msg.avatar" class="user-small" />
                    <p>{{msg.MessageTime}}</p>
                </div>
                <div [ngClass]="msg.msgBodyStyle">
                    <p>{{msg.MessageBody}}</p>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="send-message">
        <img [src]="loggedInAvatar" class="user-small" />
        <input id="send-message-input" placeholder="Type your message here" [(ngModel)]="message" />
        <img src="../assets/messages/send.png" id="send" (click)="sendMessage()" />
    </div>
</div>

<div id="user">
    <img [src]="profileavatar" class="user-large" /> 
    <p id="user-heading">{{miniprofile.Username}}</p>
    <p id="user-title">{{miniprofile.JobTitle}}</p>
    <hr id="user-divider" />
    <div><p class="info-left">Nickname:</p> <p class="info-right">{{miniprofile.Nickname}}</p></div>
    <div><p class="info-left">Shifts:</p> <p class="info-right">{{miniprofile.Shifts}}</p></div>
    <div><p class="info-left">Fav. Animal:</p> <p class="info-right">{{miniprofile.FavAnimal}}</p></div>
    <div><p class="info-left">Loves:</p> <p class="info-right">{{miniprofile.Loves}}</p></div>
    <div><p class="info-left">Hates:</p> <p class="info-right">{{miniprofile.Hates}}</p></div>
</div>

<app-modal #newMessage>
    <div class="app-modal-header">
        <h2><i class="fa fa-envelope"></i> New Message</h2>
    </div>
    <div class="app-modal-body">
        To:<br/>
        <div class="select">
            <select [(ngModel)]="userSelected" (ngModelChange)="onSelect(userSelected)">
                <option [value]="">Select User...</option>
                <option *ngFor="let option of options" [value]="option"> 
                  {{ option }}
                </option>
           </select>
        </div>
        Message:<br />
        <input id="send-new-message-input" placeholder="Type your message here" [(ngModel)]="newusermessage" />
    </div>
    <div class="app-modal-footer">
        <button type="button" class="modal-send" (click)="sendNewMessage()">Send</button>
        <button id="closeModalButton" [hidden]="true" (click)="newMessage.hide()">Hide</button>
    </div>
</app-modal>