h1 {
    color: #46b395;
    margin: 10px 20px;
}

#welcome {
    margin: 50px 0;
    height: 160px;
    background: #2d353d;
}

#welcome-left {
    padding: 40px 20px;
}

#welcome-left p {
    color: #46b395;
    margin: 0;
}

#welcome-left p:first-child {
    font-size: 18px;
}

#welcome-left p:last-child {
    font-size: 14px;
}

#welcome-right {
    padding: 16px 20px 20px 0;
}

#welcome-right .events {
    height: 125px;
    font-size: 16px;
    padding: 15px;
    color: #2d353d;
}

#welcome-right .events img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

#welcome-right #events-one {
    background: #5cf692;
}

#welcome-right #events-two {
    background: #20bbaf;
    margin: 0 35px;
}

#welcome-right #events-three {
    background: #f6a95c;
    margin-right: 20px;
}

#widgets {
    width: 100%;
    margin: 0;
}

