<h1>{{dashTitle}}</h1>
  <div id="welcome" class="row" *ngIf=showWelcome>
    <div id="welcome-left" class="col-md-5">
      <p>Welcome Liane</p>
      <p>You have 5 messages and 5 notifications</p>
    </div>
    <div id="welcome-right" class="col-md-7 pull-right">
      <div class="row">
          <div id="events-one" class="col text-center events">
            <img src="assets/dashboard/events/mammal-events.png" /><br />
            {{zkEventCount}} <br /> Zoo Keeper
          </div>
          <div id="events-two" class="col text-center events">
            <img src="assets/dashboard/events/bird-events.png" /><br />
            {{bopEventCount}} <br /> Bird of Prey
          </div>
          <div id="events-three" class="col text-center events">
            <img src="assets/dashboard/events/reptile-events.png" /><br />
            {{otherEventCount}} <br /> Other Event
          </div>
      </div>
    </div>
  </div>
  <div id="widgets" class="row" *ngIf=showWidgets>
    <app-social-widget *ngIf="showSocialWidget"></app-social-widget>
    <app-todo-widget *ngIf="showTodoWidget"></app-todo-widget>
    <app-keeper-log-widget *ngIf="showKeeperLogWidget"></app-keeper-log-widget>
  </div>
