/* You can add global styles to this file, and also import other style files */
html, body, .container-fluid, #container {
    height: 100%;
}

body {
    background: #eeeeee;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 0.075em;
    font-size: 14px;
}

h1 {
    font-size: 36px;
}

a:hover {
    text-decoration: none;
}

.btn {
    width: 100%;
    background: #46b395;
    text-align: center;
    border: none;
    border-radius: 0;
    color: #2d353d;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 0;
}

#social .tweet-outer {
    width: 100%;
    text-align: right;
    font-size: 12px;
    margin: 10px 0;
}

#social .tweet-inner {
    background: #3d4751;
    color: #dae1e1;
    padding: 8px;
    text-align: left;
    overflow: auto;
}

.timePosted {
    width:100%;
    text-align: right;
}

.media img {
    display:none;
}

.tweet-inner a {
    color: #41c862;
    cursor: pointer;
}

.tweet-inner p {
    margin-bottom: 0;
}